/* App.css */

.app.wordle {
  background-color: #f8eace;
}

.app.colorale {
  background-color: #fcf9f0;
}

.switch-div {
  margin: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.switch-div button.primary {
  background-color: #27548a;
  color: white;
  padding: 0.5rem;
  font-size: 1em;
  font-weight: 800;
  cursor: pointer;
}

.switch-div button.primary:hover {
  background-color: #183b4e;
}

@media (max-width: 768px) {
  .switch-div {
    margin: 0.5rem;
  }
}

@media (max-width: 480px) {
  .switch-div {
    margin: 0.5rem;
  }
}

/* App - Wordle */

/* Wordle -> Game.css */

.app.wordle .image-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  flex-direction: column;
}

.app.wordle .game-image {
  max-width: 90%;
  width: 30%;
  height: 150px;
}

@media (max-width: 768px) {
  .app.wordle .image-div {
    margin-bottom: 0.5rem; /* Reduce margin on smaller screens */
  }

  .app.wordle .game-image {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .app.wordle .image-div {
    padding: 0.5rem; /* Add padding for smaller devices */
  }

  .app.colorale .game-image {
    width: 80%;
  }
}

/* Wordle -> Gameboard.css */

.app.wordle .game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Wordle -> Keyboard.css */

.app.wordle .keyboard-container {
  height: auto;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: 1px solid black;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.app.wordle .keyboard-row {
  display: flex;
  width: 100%;
  margin: 0 auto 8px;
  align-items: center;
  justify-content: center;
}

.app.wordle .keyboard-row .spacer {
  flex: 0.5;
}

.app.wordle .keyboard-row button {
  font-family: "nyt-franklin";
  font-size: 1.25em;
  font-weight: bold;
  border: 0;
  padding: 0;
  margin: 0 6px 0 0;
  height: 58px;
  border-radius: 4px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background: snow;
  cursor: pointer;
}

.app.wordle button.enter {
  font-size: 0.8em !important;
  flex: 1.5;
  padding: 0 2px;
}

.app.wordle button.backspace {
  flex: 1.5;
}

@media (min-width: 768px) {
  .app.wordle .keyboard-container {
    width: 400px;
    margin: 2rem auto;
  }

  .app.wordle .keyboard-row button {
    height: 60px;
    font-size: 1.1em;
  }
}

@media (min-width: 1024px) {
  .app.wordle .keyboard-container {
    width: 760px; /* Wider width for larger screens */
  }

  .app.wordle .keyboard-row button {
    height: 70px;
  }
}

/* Wordle -> KeyboardButton.css */

.app.wordle button.absent {
  background-color: #787c7e;
  color: white;
}

.app.wordle button.present {
  background-color: #c9b458;
  color: white;
}

.app.wordle button.correct {
  background-color: #6aaa64;
  color: white;
}

/* Wordle -> Modal.css */

.app.wordle .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.app.wordle .modal-content {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
}

.app.wordle .modal-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.app.wordle .modal-content button {
  background: #d4c2a5;
  color: black;
  padding: 0.7rem;
  font-size: 0.55em;
  font-weight: 800;
  cursor: pointer;
  width: fit-content;
  margin: 0.5rem;
  border: none;
}

.app.wordle .modal-content button:hover {
  background: #b8a489;
}

.app.wordle .modal-content button.primary {
  background-color: #27548a;
  color: white;
  padding: 0.7rem;
  font-size: 0.5em;
  font-weight: 800;
  cursor: pointer;
  width: fit-content;
}

.app.wordle .modal-content button.primary:hover {
  background-color: #183b4e;
}

.app.wordle .solution {
  font-size: 1.2rem;
  margin: 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app.wordle .solution-word {
  text-transform: uppercase;
  border: 1px solid;
  width: fit-content;
  padding: 0.5rem;
}

/* Wordle -> Row.css */

.app.wordle .row {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin: 5px;
}

.app.wordle .letter {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 800;
  font-size: larger;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

@keyframes blockRoll {
  0% {
    transform: rotateX(90deg);
    opacity: 0;
  }
  50% {
    transform: rotateX(45deg);
    opacity: 0.5;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}

.app.wordle .letter.animate {
  animation: blockRoll 0.6s ease-in-out forwards;
}

.app.wordle .letter.empty {
  background-color: white;
  color: black;
}

.app.wordle .letter.absent {
  background-color: #787c7e;
}

.app.wordle .letter.present {
  background-color: #c9b458;
}

.app.wordle .letter.correct {
  background-color: #6aaa64;
}

/* Wordle -> Solution.css */

.app.wordle .solution-row {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin: 5px;
}

.app.wordle .solution-letter {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 800;
  font-size: larger;
  color: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  perspective: 1000px;
  margin: 0.2rem;
}

.app.wordle .solution-letter.hide {
  background-color: grey !important;
  border: 1px solid #f8eace;
  color: white;
}

@keyframes blockRoll {
  0% {
    transform: rotateX(90deg);
    opacity: 0;
  }
  50% {
    transform: rotateX(45deg);
    opacity: 0.5;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}

.app.wordle .solution-letter.animate {
  animation: blockRoll 0.6s ease-in-out forwards;
}

.app.wordle .solution-letter svg {
  width: 1.5rem;
  height: 1.5rem;
}

/* App - Colorale */

/* Colorale -> Game.css */

.app.colorale .image-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  flex-direction: column;
}

.app.colorale .game-image {
  max-width: 90%;
  width: 30%;
  height: 150px;
}

@media (max-width: 768px) {
  .app.colorale .image-div {
    margin-bottom: 0.5rem; /* Reduce margin on smaller screens */
  }

  .app.colorale .game-image {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .app.colorale .image-div {
    padding: 0.5rem; /* Add padding for smaller devices */
  }

  .app.colorale .game-image {
    width: 80%;
  }
}

/* Colorale -> Gameboard.css */

.app.colorale .game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Colorale -> Keyboard.css */

.app.colorale .keyboard-container {
  height: auto;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.app.colorale .keyboard-row {
  display: flex;
  width: 100%;
  margin: 0 auto 8px;
  align-items: center;
  justify-content: center;
}

.app.colorale .keyboard-row .spacer {
  flex: 0.5;
}

.app.colorale .keyboard-row button {
  font-family: "nyt-franklin";
  font-size: 1.25em;
  font-weight: bold;
  border: 0;
  padding: 0;
  margin: 0 6px 0 0;
  height: 58px;
  border-radius: 4px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background: snow;
  cursor: pointer;
}

@media (min-width: 768px) {
  .app.colorale .keyboard-container {
    width: 400px;
    margin: 2rem auto;
  }

  .app.colorale .keyboard-row button {
    height: 60px;
    font-size: 1.1em;
  }
}

@media (min-width: 1024px) {
  .app.colorale .keyboard-container {
    width: 400px; /* Wider width for larger screens */
  }

  .app.colorale .keyboard-row button {
    margin: 1rem !important;
    height: 70px;
  }
}

/* Colorale -> KeyboardButton.css */

.app.colorale button svg {
  width: 1.5rem;
  height: 1.5rem;
}

.app.colorale button.enter,
.app.colorale button.clear {
  background-color: white;
  border: 1px solid black;
  height: 40px;
  flex: 1;
  font-size: 1em !important;
  padding: 0 2px;
}

.app.colorale button.backspace {
  background-color: white;
  border: 1px solid black;
  height: 40px;
  flex: 1;
}

/* Colorale -> Modal.css */

.app.colorale .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.app.colorale .modal-content {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
}

.app.colorale .modal-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.app.colorale .modal-content button {
  background: #d4c2a5;
  color: black;
  padding: 0.7rem;
  font-size: 0.55em;
  font-weight: 800;
  cursor: pointer;
  width: fit-content;
  margin: 0.5rem;
}

.app.colorale .modal-content button:hover {
  background: #b8a489;
}

.app.colorale .modal-content button.primary {
  background-color: #27548a;
  color: white;
  padding: 0.7rem;
  font-size: 0.5em;
  font-weight: 800;
  cursor: pointer;
  width: fit-content;
}

.app.colorale .modal-content button.primary:hover {
  background-color: #183b4e;
}

.app.colorale .solution {
  font-size: 1.2rem;
  margin: 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app.colorale .solution-row {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin: 5px;
}

.app.colorale .solution-color {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  perspective: 1000px;
  margin: 0.2rem;
}

/* Colorale -> Row.css */

.app.colorale .row {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin: 5px;
}

.app.colorale .color {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 800;
  font-size: larger;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  perspective: 1000px;
}

@keyframes blockRoll {
  0% {
    transform: rotateX(90deg);
    opacity: 0;
  }
  50% {
    transform: rotateX(45deg);
    opacity: 0.5;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}

.app.colorale .color.animate {
  animation: blockRoll 0.6s ease-in-out forwards;
}

.app.colorale div.color svg {
  width: 1.5rem;
  height: 1.5rem;
}

/* Colorale -> Solution.css */

.app.colorale .solution-row {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin: 5px;
}

.app.colorale .solution-color {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 800;
  font-size: larger;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  perspective: 1000px;
  margin: 0.2rem;
}

.app.colorale .solution-color.hide {
  background-color: grey !important;
  border: 1px solid white;
}

@keyframes blockRoll {
  0% {
    transform: rotateX(90deg);
    opacity: 0;
  }
  50% {
    transform: rotateX(45deg);
    opacity: 0.5;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}

.app.colorale .solution-color.animate {
  animation: blockRoll 0.6s ease-in-out forwards;
}

.app.colorale .solution-color svg {
  width: 1.5rem;
  height: 1.5rem;
}

/* Footer */
.footer {
  background-color: white;
  padding: 6px;
  width: 100%;
}

.footer .footer-container {
  width: 100%;
  padding-inline: 6px;
  @media (width >= 40rem) {
    max-width: 40rem;
  }
  @media (width >= 48rem) {
    max-width: 48rem;
  }
  @media (width >= 64rem) {
    max-width: 64rem;
  }
  @media (width >= 80rem) {
    max-width: 80rem;
  }
  @media (width >= 96rem) {
    max-width: 96rem;
  }
}

.footer .footer-text {
  font-size: 0.875rem;
  text-align: center;
  color: gray;
}

.footer .footer-name {
  color: purple;
}
