.row {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin: 5px;
}

.letter {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 800;
  font-size: larger;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.letter.empty {
  background-color: white;
  color: black;
}

.letter.absent {
  background-color: #787c7e;
}

.letter.present {
  background-color: #c9b458;
}

.letter.correct {
  background-color: #6aaa64;
}
